.ui-dialog .ui-state-error { 
  padding: .3em; 
}
.ui-dialog-title, .ui-button-text, .ui-widget, .ui-widget input {
  font-size: 12px;
}
form.upload input {
  display: block;
  margin: 5px 0px 12px 0px;
}
form.upload label {
  margin: 8px 0 4px 0;
}
form {
  padding: 6px 0;
}
.validateTips { border: 1px solid transparent; padding: 0.3em; }

.dialog{
  display:none;
}

