body {
  background-color: #eeeeec;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12pt;
}
.bttn {
  font-family: 'Ubuntu', sans-serif;
}
p {
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration:none;
  color: #3465a4;
}
a:hover {
  text-decoration:underline;
}
textarea {
  border-radius: 4px;
  margin: 4px 0px 4px 0px;
  width: 640px;
  max-width: 640px;
  border: 1px solid #d3d7cf;
}
textarea.progress {
  font-size: 9pt;
  font-family: 'Ubuntu Mono', sans-serif; 
}
input {
  margin: 0px;
/*  padding: 0px;*/
}
input[type="checkbox"] {
  margin: 6px 3px 0px 3px;
}
h1, h2, h3 {
  font-family: 'Ubuntu';
  font-weight: normal;
}
h3 {
    margin-top: 4px;
}

div#header {
  position: relative;
  display: block;
  margin-top: 15px;
  width: 846px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 43px;
  color: #babdb6;
  text-align: center;
  font-family: sans-serif;
  border-radius: 15px 15px 0px 0px;
  border-bottom: 0px;
  height: 48px;
}
div#header div#title {
  font-family: 'Ubuntu';
  position: absolute;
  left: 20px;
  top: 10px;
  font-size:30px;
  color: #eeeeec;
}
div#header div#subtitle {
  font-family: 'Ubuntu';
  position: absolute;
  left: 20px;
  bottom: 6px;
  font-size:13pt;
}
div#header div#version {
  font-family: 'Ubuntu';
  position: absolute;
  right: 7px;
  bottom: 5px;
  font-size:10pt;
}

div#footer {
  margin-top: 5px;
  width: 644px;
  margin-left: auto;
  margin-right: auto;
  padding: 1px 43px;
  text-align: center;
  font-family: sans-serif;
  font-size: 9pt;
}

div#wrapper {
  width: 844px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding: 20px 43px;
  border-radius: 0px 0px 15px 15px;
  border: 1px solid #babdb6;
  font-size: 11pt;
}
div.news_item h3 {
  border-top: 1px solid #babdb6;
  margin-bottom: 3px;
}
div.news_item div.date {
  font-size: 10pt;
  color: #555753;
}
div.news_item p {
  text-align: justify;
  margin-bottom: 5px;
}


div#header_menu {
  width: 96%;
  height: 20px;
  margin: 0px auto;
  margin-bottom: 19px;
  background-color: #555753;
  border-radius: 0px 0px 8px 8px;
  text-align: right;
  font-family: sans-serif;
  font-size: 11pt;
  padding: 2px 20px;
}
div#header_menu a {
  color: #babdb6;
  padding-right: 10px;
}
div#header_menu a.active {
  color: #ffffff;
  font-weight: bold;
}


div#main_menu { 
  width: 932px;
  height: 32px;
  margin: 5px auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 12pt;
}

div#project_bar {
  width: 931px;
  height: 30px;
  margin: 0px auto;
  background-color: #eeeeec;
  color: #888a85;
  font-family: sans-serif;
  font-size:9pt;
}
div.project_item {
  height: 15px;
  line-height: 15px;
  padding: 3px 2px 3px 7px;
  margin: 9px 5px 0 7px;
  border-left: 1px solid #d3d7cf;
  display: inline;
  float: right;
}
div.login_buttons {
  float: right;
  margin: 0 5px 0 0;
}
a.signup_button {
  display: inline-block;
  margin: 4px 0 0 1px;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #babdb6;
  border-bottom: 0;
  background-color: #d3d7cf;
  color: #888a85;
  border-radius: 4px 4px 0 0;
  text-decoration: none;
}
a.signup_button:hover {
  border: 1px solid #3465a4;
  border-bottom: 0;
  background-color: #729fcf;
  color: #ffffff;
}

.home {
  background-color: #5c3566;
  /*border: 1px solid #3465a4;*/
}
.projects {
  background-color: #3465a4;
}
.features {
  background-color: #4e9a06;
  /*border: 1px solid #73d216;*/
}
.classification {
  background-color: #ce5c00;
  /*border: 1px solid #edd400;*/
}

.menu_item {
  width: 202px;
  float: left;
  color: #d3d7cf;
  padding: 6px 15px 4px 15px;
  /*border-right: 2px solid #eeeeec;*/
  cursor: pointer;
  text-decoration: none;
}
.menu_active {
  width: 206px;
  /*background-color: #3465a4;*/
  height: 15px;
  padding-bottom: 8px;
  padding-top: 8px;
  margin-top: -5px;
  color: #ffffff;
  border-top: 3px double #babdb6;
  font-style:oblique;
  /*pointer-events: none;
  cursor: default;*/
}
.menu_item:hover {
  /*background-color: #3465a4;*/
  text-decoration: underline;
}
.menu_item.disabled {
  color: #babdb6;
  pointer-events: none;
  cursor: default;
  /*background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #ccc), color-stop(0.25, #ccc), color-stop(0.25, #bbb), color-stop(0.5, #bbb), color-stop(0.5, #ccc), color-stop(0.75, #ccc), color-stop(0.75, #bbb));*/
  background-image: -webkit-linear-gradient(left bottom, rgba(186,189,182,0.2) 0%, rgba(186,189,182,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(186,189,182,0.2) 50%, rgba(186,189,182,0.2) 75%, rgba(0,0,0,0) 75%);
  /*background-image: -moz-linear-gradient(left bottom, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
  background-image: -ms-linear-gradient(left bottom, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
  background-image: -o-linear-gradient(left bottom, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
  background-image: linear-gradient(left bottom, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);*/
  background-size: 30px 30px;
/*  background-color: #1a82f7; 
  background-image: url(images/fallback-gradient.png); 
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F2727), to(#1a82f7));
  background-image: -webkit-linear-gradient(top, #2F2727, #1a82f7); 
  background-image:    -moz-linear-gradient(top, #2F2727, #1a82f7);
  background-image:     -ms-linear-gradient(top, #2F2727, #1a82f7);
  background-image:      -o-linear-gradient(top, #2F2727, #1a82f7);*/
}
.disabled2 {
  color: #888a85;
  pointer-events: none;
  cursor: default;
  background-image: -webkit-linear-gradient(left bottom, rgba(136,138,133,0.2) 0%, rgba(136,138,133,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(136,138,133,0.2) 50%, rgba(136,138,133,0.2) 75%, rgba(0,0,0,0) 75%);
  background-size: 30px 30px;
}

a.bttn.menu {
  width: 75px;
  text-align: center;
}
hr.menu {
  margin-bottom: 18px;
}
hr.submit {
  margin-top: 18px;
}
hr.spacer {
    margin: 35px 0px 0px 0px;
}

/* form **********************************************************************/
.form_wrapper {
}
.form_item {
  margin: 0px 0px 6px 0px;
  height: 21px;
  padding: 3px 0px;
}
form .form_item label {
  font-size: 10pt;
}
form .form_item>label {
  margin:0;
  padding:3px;
  display: inline-block;
  width: 130px;
  color: #2e3436;
  text-align:right;
}
.form_item .ui-spinner {
  width: 220px;
}
.form_item select {
  width: 220px;
  text-size: 10px;
  color: #2e3436;
}
.form_wrapper input.red:disabled {
  background-color: #ef2929;
  color: #d3d7cf;
  cursor: default;
}

/* form2 *********************************************************************/
.myform {
    margin: 50px auto;
    width: 600px;
    padding: 14px;
}

/* ----------- stylized ----------- */
#stylized {
    border: solid 1px #babdb6;
    border-radius: 4px;
    background: #fff;
}
#stylized h1 {
    color: #2e3436;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}
#stylized p{
    font-size: 11px;
    color: #2e3436;
    margin-bottom: 20px;
    border-bottom: solid 1px #888a85;
    padding-bottom: 10px;
}
#stylized label{
    display: block;
    text-align: right;
    color: #204a87;
    width: 200px;
    float: left;
}
#stylized .small{
    color: #888a85;
    display: block;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    width: 200px;
}
#stylized input, #stylized select, #stylized span.ui-spinner {
    float: left;
    font-size: 12px;
    padding: 4px 2px;
    width: 340px;
    margin: 2px 0 20px 10px;
}
#stylized select {
    width: 348px;
}
#stylized span.ui-spinner{
    height: 26px;
}
#stylized input[type=text] {
    border: solid 1px #babdb6;
}
#stylized .radio_options {
    float: left;
    font-size: 12px;
    padding: 4px 2px;
    width: 340px;
    margin: 2px 0 20px 10px;
}
#stylized .radio_options input[type=radio] {
    display: block;
    float: left;
    width: 26px;
    padding: 0;
    margin: 3px 0px;
}
#stylized .radio_options .option_label {
    float: left;
    display: inline;
    width: 300px;
    margin: 0px 0px 6px 0px;
}
#stylized button, #stylized input[type=submit]{
    clear: both;
    width: 105px;
    height: 29px;
    border-radius: 2px;
    text-align: center;
    /*line-height: 27px;*/
    font-size: 12px;
    cursor: pointer;
    margin: 30px 0 0 4px;
    background-color: #babdb6;
    border: 1px solid #2e3436;
    color: #888a85;
}
#stylized button.red, #stylized input[type=submit].red {
    background-color: #cc0000;
    border: 1px solid #a40000;
    color: #eeeeec;
}
#stylized button.grey, #stylized input[type=submit].grey {
    background-color: #eeeeec;
    border: 1px solid #2e3436;
    color: #555753;
}

/* Show error messages */
.msg {
    color: #ce5c00;
    font-weight: bold;
    font-size: 10pt;
    padding: 10px 4px;
    text-align: center;
    float: left;
    width: 100%;
    display: block;
}


.description {
  text-align: justify;
  color: #2e3436;
  margin: 1em 0em;
  font-size: 11pt;
}

.explanation {
  font-style: italic;
  font-size: 10pt;
  margin-top: 15px;
}

fieldset {
  border: 1px solid #babdb6;
  border-radius: 2px;
  margin-bottom: 8px;
}

legend {
  font-size: 10pt;
  font-weight: bold;
  color: #555753;
}

ul.featsel {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  width: 120px;
}

ul.featsel li {
  background-color: #d3d7cf;
  padding: 1px 5px;
  border: 1px solid #ffffff;
  font-size: 10px;
  color: #2e3436;
  background-image:url('/spica/img/close.png');
  background-repeat:no-repeat;
  background-position:right top;
  cursor: pointer;
}

.select_wrapper {
  width: 600px;
  float: left;
  padding-left: 15px;
}

.select_block {
  display: inline;
  float: left;
  width: 200px;
}

select {
  width: 170px;
  text-size: 10px;
  color: #2e3436;
}

hr {
  border: 1px solid #babdb6;
}
input {
  display: inline;
}
div.error, div.lg-auth-error {
  display: inline;
  color: #cc0000;
  font-size: 13px;
}

div#data_name.ui-buttonset {
  display: inline-block;
}

/*
 *
 * Tables (sortable)
 *
 */

table.tablesorter {
    font-family:arial;
    margin:10px 0pt 15px;
    font-size: 8pt;
    text-align: left;
    width: 100%;
    border-collapse:collapse;
}
div#job_status table.tablesorter {
    width: auto;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #888a85;
    border: 1px solid #ffffff;
    font-size: 8pt;
    padding: 4px 10px;
    text-align: center;
}
table.tablesorter thead tr .header {
    background-image: url(/img/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    color: #3d3d3d;
    padding: 5px 10px;
    vertical-align: top;
}
table.tablesorter tbody tr {
    border-bottom: 1px solid #babdb6;
}
table.tablesorter tbody tr:last-child {
    border-bottom: 3px solid #888a85;
}
tr.double {
    border-top: 3px double #888a85;
}

table.tablesorter tbody td.n {
    text-align: right;
}
/*
table.tablesorter tbody tr:nth-child(even) {
    background-color:#d3d7cf;
}*/
table.tablesorter thead tr .headerSortUp {
    background-image: url(/img/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(/img/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8dbdd8;
}
table.tablesorter tbody tr td.score, table.tablesorter thead tr th.score {
    padding:4px 5px;
}
/*
 *
 * Status tables
 *
 */

table.tablesorter tbody tr td#status, table.tablesorter thead tr th#status {
  width: 20px;
  padding:0px;
  margin: 0px;
}
.running {
  background-color: #729fcf;
}
.error {
  background-color: #cc0000;
}
.done {
  background-color: #8ae234;
}
.waiting {
  background-color: #fce94f;
}
.notdone {
  background-color: #d3d7cf;
}
div.legend {
  padding: 1px;
  margin-top: -12px;
}
div.legend div.status {
  width: 10px;
  height: 10px;
  display: inline-block;
}
div.legend div.text {
  display:inline;
  padding: 0 6px 0 4px;
  font-size: 12px;
  color: #555753;
}
table.tablesorter tbody td.disabled {
  color: #888a85;
}
div.text {
  display:inline;
}
div.text.disabled {
  color: #888a85;
}
/*
 *
 * Histograms
 *
 */
#sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}
#sortable li { 
  cursor: move;
  position: relative;
}
#sortable li button.ui-button {
  height: 22px;
  width: 22px;
  position: absolute;
  top: 6px;
}
#sortable li button#close {
  right: 36px;
}
#sortable li button#save {
  width: 45px;
  right: 60px;
}
#sortable li button span.ui-button-text {
  font-size:10px;
  padding:0px;
  padding-left:14px;
}
#sortable li button span.ui-icon-disk {
  left: 4px;
}
.loadhist {
  margin: 10px;
  width: 614px;
  height: 79px;
  text-align: center;
  padding-top: 105px;
  border: 3px solid #d3d7cf;
  border-radius: 6px;
}

/* scatter & heatmap */

#scatter {
  position:relative;
  margin: 0 50px;
  padding: 4px 0;
}
#heatmap {
  position:relative;
  margin: 0px 10px;
  padding: 28px 0px;
}
#scatter button, #heatmap button {
  position: absolute;
  top: 0px;
  right: 22px;
}
#scatter button.ui-button, #heatmap button.ui-button {
  height: 22px;
  width: 22px;
  position: absolute;
  top: 6px;
}
#scatter button#save, #heatmap button#save {
  width: 45px;
  right: 24px;
}
#scatter button span.ui-button-text, #heatmap button span.ui-button-text {
  font-size:10px;
  padding:0px;
  padding-left:14px;
}
#scatter button span.ui-icon-disk, #heatmap button span.ui-icon-disc {
  left: 4px;
}

/*
 *
 * Feature filter
 *
 */
#filterwrapper {
  position: absolute;
  top: 54px;
  right: -300px;
  border: 1px solid #555753;
  border-right:0;
  min-height: 200px;
  font-family: sans-serif;
  border-radius: 7px 0px 0px 7px;
  background: #ffffff;
}
#filterwrapper #filterscreen {
  display: block;
  position: relative;
  float: right;
  right: 0;
  top: 0;
  width: 275px;
  margin: 0 20px;
}
#filterwrapper #filterbar {
  position: relative;
  background: #555753 url(/spica/img/show.png) top left no-repeat;
  width: 32px;
  height: 160px;
  top: 23px;
  left: -32px;
  border-radius: 7px 0 0 7px;
  cursor: pointer;
}
.filtercol {
  position: relative;
  top: -140px;
  width: 260px;
  padding: 10px;
}
.filter_header {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 5px 5px;
  color: #eeeeec;
  background-color: #c4a000;
  margin: 10px 0px 5px 0px;
}
.first {
  margin-top: 0px;
}
.filter_subheader {
  margin-top: 2px;
  height: 20px;
  color: #8f5902;
}
.filter_subtitle {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  float: left;
}
.filter_showcat {
  font-size: 13px;
  color: #3465a4;
  display: inline;
  float: right;
  cursor: pointer;
}
.filter_select {
  margin-bottom: 14px;
}
.filter_select_bar .sel {
  cursor: pointer;
  color: #3465a4;
}
.filter_select_bar .inline {
  margin: 2px 0px;
  display: inline;
  font-size: 13px;
}
select.feats {
  height: 120px;
  width: 100%;
  background-color: #eeeeec;
  border: 0px;
  padding: 2px;
}
#unselected {
  left: 0;
}
#selected {
  right: 0;
}
.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.selectable li { margin: 2px 3px; padding: 2px 10px; font-size: 11px; height: 13px; }
/*.selectable .ui-selecting { background: #FECA40; }
.selectable .ui-selected { background: #F39814; color: white; }
.selectable { list-style-type: none; margin: 0; padding: 0; width: 100%;}
.selectable li { margin: 2px 3px; padding: 2px 10px; float: left; width: 102px; height: 12px; font-size: 12px; text-align: center; }*/
    


select#labeling_select {
  width:100%;
  height: 24px;
  font-family: 'Ubuntu';
}
#filter .filtercol .ui-widget {
  margin-top: 10px; 
}
ul.label_list {
  width: 125px;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
}
ul.label_list li.label {
  float: right; 
  width: 120px; 
  padding: 0px;
  margin: 0px;
}
ul.label_list.select li.label {
  float: left;
}
ul.label_list li.label div {
  float: right;
  width: 94px;
  font-family: 'Ubuntu';
  font-size: 13px;
  padding: 2px 5px;
  background-color: #eeeeec;
  overflow: hidden;
  cursor: move;
}
ul.label_list.select li.label div {
  background-color: #fce94f;
  float: left;
}
ul.label_list li.label a {
  margin-top: 2px;
}
ul.label_list.select li.label a { 
  float: right;
}

