button.delete span.ui-button-text {
    padding: 0px;
}
table.tablesorter tbody td.icon-button {
    padding:0px 14px;
    text-align: right;
    width: 24px;
}
div#dialog-confirm {
    display: none;
}
