## about.html
<%inherit file="base.html"/>

<%block name="main_content">

<div id="home_wrapper">

<h1>About</h1>

<p class="story">

SPiCE provides easy access to visualization and classification methods
for a labeled set of protein sequences. You can use it to calculate global
protein features, visualize feature data, and construct protein classifiers.

</p>

<p class="story">

The software was initialy used for the construction of a classifier that
predicts successful high-level secretion of proteins in <i>Asperigillus
niger</i> (<a href="#ref1">1</a>). Afterwards, SPiCE was developed to make this
general classifier construction approach available to others.

</p>

<div class="references">
<a id="ref1" href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0045869" target="_blank"><b>Exploring sequence characteristics related to high-level production of secreted proteins in Aspergillus niger.</b></a> B.A. van den Berg, M.J.T. Reinders, M. Hulsman, L. Wu, H.J. Pel, J.A. Roubos, D. de Ridder (2012) <i>PLoS ONE</i>, Volume 7, Issue 10, e45869.
</div>

</div>

<%include file="sidebar.html" />

</%block>
