## about.html
<%inherit file="base.html"/>

<%block name="main_content">

<div id="home_wrapper">

<h1>About</h1>

<p class="story">

SPiCE provides easy access to visualization and classification methods for
a set protein sequences. It can be used to calculate sequence-based protein
features, visualize feature data, and construct protein classifiers.

</p>

<p class="story">

SPiCE has been developed as part of <a
href="http://bioinformatics.tudelft.nl/users/bastiaan-van-den-berg">my</a> PhD
in the <a href="http://bioinformatics.tudelft.nl/">Delft Bioinformatics Lab</a>
at <a href="http://www.tudelft.nl/en">Delft University of Technology</a>. The
software was initialy used for the construction of a classifier that predicts
successful high-level secretion of proteins in <i>Asperigillus niger</i> (<a
href="#ref1">1</a>). To make feature exploration and classifier construction
methods generally accessible, we developed the SPiCE website as a user-friendly
graphical user interface to (most of) that software. 

</p>

<p class="story">

A registered account is required to use the website, this to provide
a protected workspace for each user. You need te <a
href="${root_url}register">register</a> with a valid email address and
a password. A verification link will be send to you in order to activate your
account.

</p>

<p class="story">

The website performance best in <a
href="https://www.google.com/intl/en/chrome/browser/" target="_tab">Google
Chrome</a>. Both <a href="http://www.mozilla.org/en-US/firefox/new/"
target="_tab">Firefox</a> and <a href="http://www.opera.com/"
target="_tab">Opera</a> have good support, however, in both browsers there
seems to be an isseu with showing the t-statistics table. Please avoid using
Internet Explorer (espessially the older versions), not all functionalities
work in this browser. Please contact <a href="contact">me</a> in case of any
other issues.

</p>

<div class="references">
<a id="ref1" href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0045869" target="_blank"><b>Exploring sequence characteristics related to high-level production of secreted proteins in Aspergillus niger.</b></a> B.A. van den Berg, M.J.T. Reinders, M. Hulsman, L. Wu, H.J. Pel, J.A. Roubos, D. de Ridder (2012) <i>PLoS ONE</i>, Volume 7, Issue 10, e45869.
</div>

</div>

<%include file="sidebar.html" />

</%block>
