## base.html
<!DOCTYPE html>
<html lang="en">
  
<head>

  ## common style sheets
  <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu|Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
  <link rel="stylesheet" type="text/css" href="${'%scss/bootstrap.min.css' % (root_url)}" />
  <link rel="stylesheet" type="text/css" href="${'%scss/bootstrap-fileupload.min.css' % (root_url)}" />
  <link rel="stylesheet" type="text/css" href="${'%scss/style.css' % (root_url)}" />
  <link rel="stylesheet" type="text/css" href="${'%sauth_css/style.css' % (root_url)}" />
  ## block to add custom style sheets per page
  <%block name="stylesheets">
  </%block>

  ## common javascript libraries and scripts
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
  <script type="application/javascript" src="${'%sjs/jquery.cookie.js' % (root_url)}"></script>
  <script type="application/javascript" src="${'%sjs/bootstrap.min.js' % (root_url)}"></script>
  <script type="application/javascript" src="${'%sjs/bootstrap-fileupload.min.js' % (root_url)}"></script>
  <script type="application/javascript" src="${'%sjs/jquery.tablesorter.min.js' % (root_url)}"></script>
% if show_filter:
  <script type="application/javascript" src="${'%sjs/filter.js' % (root_url)}"></script>
% endif

    <!-- Google analytics -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-40671229-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

  ## block for custom scripts per page
  <%block name="scripts">
  </%block>

  <meta charset="utf-8">
  <title>SPiCE - Sequence-based Protein Classification and Exploration</title>

</head>

<body>

## the top-right header menu items
<div id="header_menu">
% for index, (name, url) in enumerate(header_menu):
% if header_menu_index == index:
  <a href=${root_url}${url} class="active">${name}</a>
% elif name == 'documentation':
  <a href=${root_url}${url} target="_tab">${name}</a>
% else:
  <a href=${root_url}${url}>${name}</a>
% endif
% endfor
</div>

## header text
<div id="header" class=${main_menu[main_menu_index][0]}>
<div id="title">SPiCE</div>
<div id="subtitle">Sequence-based Protein Classification and Exploration</div>
<div id="version">version 0.1</div>
<div id="beta">beta</div>
</div>

## show menu bar with current menu active
<div id="main_menu">
% for index, (name, url) in enumerate(main_menu):
    <a class="menu_item ${name}${' menu_active' if main_menu_index == index else ''}" href="${root_url}${url}">${name}</a>
% endfor
</div>

## show current user id and project id when provided in project bar
## TODO use the cherry_auth include auth_bar.html and add project id...
<div id="project_bar">

% if user_id:
    <div class="login_buttons">
        <a href="${'%saccount' % (root_url)}" class="signup_button">Account</a>
        <a href="${'%slogout' % (root_url)}" class="signup_button">Logout</a>
    </div>
    <div class="project_item">user: <b>${user_id}</b>
    </div>

% if project_id and not project_id == 'None':
    <div class="project_item" id="project_name">
        project:
        <a href="${root_url}${main_menu[1][1]}/details/${project_id}">${project_id}</a>
    </div>
% endif

% if (all_project_ids and not all_project_ids == 'None') and len(all_project_ids) > 1:
    <div class="project_item" id="project_dropdown">
        <div class="dropdown">
            <a class="dropdown-toggle btn btn-link my-btn-link" data-toggle="dropdown" href="#">
                select project <i class="icon-chevron-down"></i>
            </a>
            <ul class="dropdown-menu">
% for pid, _ in all_project_ids:
                <li><a href="${root_url}${main_menu[1][1]}/details/${pid}">${pid}</a></li>
% endfor
            </ul>
        </div>
    </div>
%endif

% else:
    <div class="login_buttons">
        <a href="${'%slogin' % (root_url)}" class="signup_button">Log in</a>
        <a href="${'%sregister' % (root_url)}" class="signup_button">Create account</a>
    </div>
% endif

</div>

## block for the main content
<div id="wrapper">
<%block name="main_content">
</%block>
</div>

## display the footer
<div id="footer">
Delft University of Technology, <a href="http://bioinformatics.tudelft.nl">Delft Bioinformatics Lab</a>
</div>

###############################################################################
## Feature and class filter
###############################################################################

% if show_filter:

<%block name="filter">

<div id="filterwrapper">
<div id="filterbar"></div>
<div id="filterscreen">
<form id="filter">

##
## Class filter
##

<div class="filtercol">
<div class="filter_header first">Label filter</div>

<div class="filter_subheader">
  <div class="filter_showcat" id="labelfilter">show / hide</div>
</div>

<div class="filter_select" id="labelfilter">

<%
labeling_names = sorted(fe.fm_protein.labeling_dict.keys())
cur_labeling_index = 0
if(labeling_names[cur_labeling_index] == 'one_class' and len(labeling_names) > 1):
    cur_labeling_index = 1
cur_labeling = fe.fm_protein.labeling_dict[labeling_names[cur_labeling_index]]
num_select = 0
%>

    <select id="labeling_select">
% for index, labeling_name in enumerate(labeling_names):
      <option value="${labeling_name}" ${'selected="selected"' if index == cur_labeling_index else ''}>${labeling_name}</option>
% endfor
    </select>

    <div class="ui-widget labsel_wrapper" id="${labeling_name}">

    <ul id="labels_selected" class="ui-helper-reset label_list select">
% for class_name in cur_labeling.class_names[:num_select]:
        <li class="class_label ui-widget-content">
            <div>${class_name}</div>
            <a href="#" class="ui-icon ui-icon-triangle-1-e"></a>
        </li>
% endfor
    </ul>

    <ul id="labels_unselected" class="ui-helper-reset ui-helper-clearfix label_list">
% for class_name in cur_labeling.class_names[num_select:]:
        <li class="class_label ui-widget-content">
            <div>${class_name}</div>
            <a href="#" class="ui-icon ui-icon-triangle-1-w"></a>
        </li>
% endfor
    </ul>
</div>

</div>

##
## Feature filter
##

<div class="filter_header">Feature filter</div>

<%
fm = fe.fm_protein
fid2name = fe.protein_feat_id_to_name_dict()
available = [f.uid for f in fe.available_protein_feature_vectors()]
custom_feats = fm.get_custom_features()
%>

% if (len(available) + len(custom_feats) == 0):
    <div class="alert alert-info"><p><strong>Info: </strong>There are no features available yet. Features can be calculated in the <a href="${root_url}${main_menu[2][1]}${sub_menu[0]}">feature list</a> section.</p></div>
% endif

% for featvec in fe.fv_dict_protein.values():
% if (featvec.uid in available):
    <div class="filter_subheader">
        <div class="filter_subtitle">${featvec.name.title()}<span class="numselected ${featvec.uid}"> (0)</span></div>
    </div>
    <div class="filter_showcat" id="${featvec.uid}">show / hide</div>
        <div class="filter_select_bar">
            <div id="${featvec.uid}" class="filter_select_all sel inline">Select all</div>
            <div class="inline"> | </div>
            <div id="${featvec.uid}" class="filter_deselect_all sel inline">Deselect all</div>
        </div>
    <div class="filter_select" id="${featvec.uid}">

<%
name_dict = fe.protein_feat_id_to_name_dict()
feat_ids = featvec.feat_ids
feat_names = featvec.feat_names
features = zip(feat_ids, feat_names)
%>

        <ol class="feats selectable" id="${featvec.uid}">
% for index, (feat_id, feat_name) in enumerate(features):
            <li class="feat ui-widget-content" id="${feat_id}">${feat_name}</li>
% endfor
        </ol>
    </div>
% endif
% endfor

## custom features

% for custom_featvec_id in custom_feats.keys():
    <div class="filter_subheader">
        <div class="filter_subtitle">${custom_featvec_id}<span class="numselected ${custom_featvec_id}">(0)</span></div>
    </div>
    <div class="filter_showcat" id="${custom_featvec_id}">show / hide</div>
        <div class="filter_select_bar">
            <div id="${custom_featvec_id}" class="filter_select_all sel inline">Select all</div>
            <div class="inline"> | </div>
            <div id="${custom_featvec_id}" class="filter_deselect_all sel inline">Deselect all</div>
        </div>
    <div class="filter_select" id="${custom_featvec_id}">
        <ol class="feats selectable" id="${custom_featvec_id}">
% for feat_id in custom_feats[custom_featvec_id]:
            <li class="feat ui-widget-content" id="${feat_id}">${feat_id}</li>
% endfor
        </ol>
    </div>
% endfor

</div>

</form>
</div>
</div>
</%block>

% endif

</body>

</html>

