<%
uri_root = '%s%s' % (root_url, main_menu[main_menu_index][1])
uris = ['%s%s' % (uri_root, sub_menu[0]), '%s%s' % (uri_root, sub_menu[1])]
icons = ['icon-list', 'icon-plus']
menu_names = ['Results', 'New classifier']
%>

<div class="btn-toolbar">
    <div class="btn-group">
% for index, uri in enumerate(uris):
% if (index == sub_menu_index):
        <a href="${uri}" class="btn btn-primary"><i class="${icons[index]}"></i> ${menu_names[index]}</a>
% else:
        <a href="${uri}" class="btn"><i class="${icons[index]}"></i> ${menu_names[index]}</a>
% endif
% endfor
    </div>
</div>

<hr class="menu" />
