## classifier_disabled.html
<%inherit file="base.html"/>

<%block name="main_content">

<div class="alert alert-info">
    <p><Strong>Info:</strong> Due to changes on our compute servers, training and testing classifiers has been disabled. It can take a while before this functionality will be enabled again. In the meantime, a local installation of the <a href="https://github.com/basvandenberg/spice" target="_blank">SPiCE software</a> can be used for training and testing classifiers. However, the documentation of this software is limited. If you have any questions, please contact me at spice.webapp at gmail dot com.</p>
</div>

</%block>
