## classifier_details.html
<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/classifier_run.js' % (root_url)}"></script>
</%block>

<%block name="main_title">
</%block>

<%block name="main_content">

<%include file="classification_bar.html" />

## Classifier run
<h2>Classifier ${cl_id}</h2>

% if msg:
    <div class="alert alert-block alert-error fade in"><p>${msg}</p></div>
% endif

###############################################################################
## Run classifier form
###############################################################################

% if classifier_f:

% if len(data_sets) > 0:

<!--div class="well"-->

<form id="run-classifier" class="form-inline" enctype="multipart/form-data" method="post">

    <legend>Run this classifier on your project data sets</legend>

    <label for="data_set">Project data set </label>
    <select name="data_set" id="data_set" class="param input-large">
% for data_set in data_sets:
        <option value="${data_set}" selected="selected">${data_set}</option>
% endfor
    </select>
    
    <div class="btn-group">
        <button class="btn btn-warning" type="submit" data-loading-text="Loading...">Run classification</button>
        <a href="${root_url}doc/" class="btn" target="_blank"><i class="icon-info-sign"></i></a>
    </div>

</form>
<!-- well -->
<!--/div--> 

% else:

<div class="alert alert-block alert-info fade in">
    <p>No more data sets available to run this classifier on. </p>
</div>

% endif

% else:

<div class="alert alert-block alert-info fade in" id="progress">
    <p>Please be patient, classifier construction is still in progress (this page will automatically reload every 10 seconds). </p>
</div>

% endif

###############################################################################
## Classifier predictions table
###############################################################################

% if classifier_f:

<!--h3>Classifier predictions for other data sets</h3-->

% for status in ['done']:
% if len(classification_status[status]) > 0:
<table class="tablesorter" id="class_done">
<thead>
<tr>
    <th>Project</th>
    <th>Binary predictions</th>
    <th>Probabilities</th> 
</tr>
</thead>
<tbody>
% for data_set in classification_status[status]:
<tr class="${cl_id}">
    <td>${data_set}</td>
    <td><a href="" id="${data_set}_pred" class="download pred-file">${data_set}_pred.txt</a></td>
    <td><a href="" id="${data_set}_proba" class="download pred-file">${data_set}_proba.txt</a></td>
</tr>
% endfor
</tbody>
</table>
% endif
% endfor

% for status in ['running', 'waiting', 'error']:
% if len(classification_status[status]) > 0:
<h4 id=${status}>${status.title()}</h4>
<table class="tablesorter">
<thead>
<tr>
    <th>Data set</th>
</tr>
</thead>
<tbody>
% for data_set in classification_status[status]:
<tr>
    <td>${data_set}</td>
</tr>
% endfor
</tbody>
</table>
% endif
% endfor

% endif

</%block>
