## classifier_details.html
<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/classifier_details.js' % (root_url)}"></script>
</%block>

<%block name="main_title">
</%block>

<%block name="main_content">

<%include file="classification_bar.html" />

## Classfier details
<h2>Classifier ${cl_id}</h2>

###############################################################################
## Run classifier form
###############################################################################

% if classifier_f and len(projects) > 0:

<div class="well">

<form id="run-classifier" class="form-inline" enctype="multipart/form-data" method="post">

    <legend>Run classifier on one of your data sets (projects)</legend>

    <label class="select">Data set: </label>
    <select name="project" id="project" class="param input-large">
% for project in projects:
        <option value="${project}" selected="selected">${project}</option>
% endfor
    </select>
    
    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Classify</button>

</form>
<!-- well -->
</div> 

% endif

###############################################################################
## Classifier predictions table
###############################################################################

% if classifier_f:

<h3>Classifier predictions for other data sets</h3>

% for status in ['done']:
% if len(projects_status[status]) > 0:
<table class="tablesorter" id="class_done">
<thead>
<tr>
    <th>Project</th>
    <th>Binary predictions</th>
    <th>Probabilities</th> 
</tr>
</thead>
<tbody>
% for pr in projects_status[status]:
<tr class="${cl_id}">
    <td>${pr}</td>
    <td><a href="" id="${pr}_pred" class="download">${pr}_pred.txt</a></td>
    <td><a href="" id="${pr}_proba" class="download">${pr}_proba.txt</a></td>
</tr>
% endfor
</tbody>
</table>
% endif
% endfor

% for status in ['running', 'waiting', 'error']:
% if len(projects_status[status]) > 0:
<h4>${status.title()}</h4>
<table class="tablesorter">
<thead>
<tr>
    <th>Project</th>
</tr>
</thead>
<tbody>
% for pr in projects_status[status]:
<tr>
    <td>${pr}</td>
</tr>
% endfor
</tbody>
</table>
% endif
% endfor

% endif

###############################################################################
## Classifier settings
###############################################################################

% if cl_settings:
<hr class="spacer">
<h3>Classifier settings</h3>

<table class="settings">
    <tr>
        <td>Classifier:</td>
        <td>${cl_names[cl_settings['classifier_name']]}</td>
    </tr>
    <tr>
        <td>Classes:</td>
        <td>${', '.join(cl_settings['target_names'])}</td>
    </tr>
    <tr>
        <td># CV loops:</td>
        <td>${str(cl_settings['n_fold_cv'])}</td>
    </tr>
    <tr>
        <td># Features:</td>
        <td>${len(cl_settings['feature_names'])}</td>
    </tr>
    <tr>
        <td>Feature ids:</td>
        <td>${', '.join(sorted(cl_settings['feature_names']))}</td>
    </tr>
</table>

% endif

###############################################################################
## CV results table
###############################################################################

% if cv_results and cl_settings:
<%
snames = sorted(cv_results.keys())
%>

<hr class="spacer">
<h3>Classifier performance scores</h3>

<table id="cl_result" class="tablesorter">

<thead>
<tr>
  <th>CV</th>
% for sname in snames:
  <th>${sname}</th>
% endfor 
</tr>
</thead>

<tbody>
% for index in range(cl_settings['n_fold_cv']):
  <tr>
    <td>${index}</td>
% for sname in snames:
    <td>${'%.3f' % (cv_results[sname][index])}</td>
% endfor
  </tr>
% endfor
  <tr class="double">
    <td>avg/std</td>
% for sname in snames:
    <td>${'%.2f / %.2f' % (avg_results[sname][0], avg_results[sname][1])}</td>
% endfor
  </tr>
</tbody>
</table>

% endif

###############################################################################
## ROC curve
###############################################################################

% if roc_url:
<hr class="spacer">
<h3>ROC curve</h3>
<img src="${roc_url}" />
% endif

###############################################################################
## Progress txt area
###############################################################################

<hr class="spacer">
<h3>Progress</h3>
<textarea class="job_progress" id="${cl_id}" rows="20"></textarea>

###############################################################################
## Progress txt area
###############################################################################

<hr class="spacer">
<h3>Errors</h3>
<textarea class="error_txt" id="${cl_id}" rows="5"></textarea>

</%block>
