## feature_list.html
<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/feature_list.js' % (root_url)}"></script>
</%block>

<%block name="main_content">

<%include file="features_bar.html" />

###############################################################################
## Table with calculated feature categories
###############################################################################

<h2>Sequence based features</h2>

<%
categorized_featids = fe.categorized_protein_feature_ids()
%>

% if len(categorized_featids) > 0:

<table class="tablesorter">
<thead>
    <tr>
        <th>feature categorie</th>
        <th>parameters</th>
        <th># features</th>
        <th></th>
    </tr>
</thead>
<tbody>

% for featcat_id in fe.PROTEIN_FEATURE_CATEGORY_IDS:
% if featcat_id in categorized_featids.keys():


## this is a bit of a hack to get the features cats sorted by their parameters
<%
fcat = featcats[featcat_id]
param_types = fcat.param_types  # [int, ...]
param_keys = categorized_featids[featcat_id].keys()
if(len(param_types) == 0):
    sorted_keys = param_keys
else:
    param_splits = [k.split('-') for k in param_keys]
    param_lists = []
    for s in param_splits:
        values = []
        for index, item in enumerate(s):
            values.append(param_types[index](item))
        param_lists.append(values)
    import operator
    param_keys_values = sorted(zip(param_keys, param_lists), key=operator.itemgetter(1))
    sorted_keys = [k for k, _ in param_keys_values]
%>

% for param_setting in sorted_keys:
<%
fcat = featcats[featcat_id]
args = [t(p) for (t, p) in zip(fcat.param_types, param_setting.split('-'))]
featids, featnames = fcat.feature_func(fcat.model_object(''), *args, feature_ids=True)
numfeat = len(featids)
param_col = ', '.join(['%s: %s' % (n, v)
                      for n, v in zip(fcat.param_names, param_setting.split('-'))])
%>
    <tr>
        <td>${fcat.fc_name.title()}</td>
        <td>${param_col}</td>
        <td>${numfeat}</td>
        <td>
            <a href="#delete-${'%s_%s' % (featcat_id, param_setting)}-modal" 
               class="btn btn-link my-btn-link delete-features" 
               data-toggle="modal"
               id="${'%s_%s' % (featcat_id, param_setting)}">delete
            </a>
            <!-- Modal -->
            <div id="delete-${'%s_%s' % (featcat_id, param_setting)}-modal"
                 class="modal hide fade delete-features" 
                 tabindex="-1" 
                 role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="myModalLabel">Delete feature category ${'%s_%s' % (featcat_id, param_setting)}?</h3>
                </div>
                <div class="modal-body">
                    <p>Feature category ${'%s_%s' % (featcat_id, param_setting)} will be deleted. Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button id="${'%s_%s' % (featcat_id, param_setting)}" class="btn btn-danger delete-features">Delete</button>
                </div>
            </div>
        </td>
    </tr>
% endfor

% endif
% endfor

</tbody>
</table>
    
% else:
    <p>No sequence-based feature have been calculated yet.</p>
% endif

###############################################################################
## Table with custom (uploaded) features
###############################################################################

<%
cusfeats = fe.fm_protein.get_custom_features()
%>

% if len(cusfeats.keys()) > 0:

<h2>Custom (uploaded) features</h2>

<table class="tablesorter">
<thead>
    <tr>
        <th>custom feature categorie</th>
        <th># features</th>
        <th></th>
    </tr>
</thead>
<tbody>

% for featcat_id in sorted(cusfeats.keys()):
    <tr>
        <td>Custom feature catogory ${featcat_id}</td>
        <td>${len(cusfeats[featcat_id])}</td>
        <td>
            <a href="#delete-${'%s' % (featcat_id)}-modal" 
               class="btn btn-link my-btn-link delete-features" 
               data-toggle="modal"
               id="${'%s' % (featcat_id)}">delete
            </a>
            <!-- Modal -->
            <div id="delete-${'%s' % (featcat_id)}-modal"
                 class="modal hide fade delete-features" 
                 tabindex="-1" 
                 role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="myModalLabel">Delete feature category ${'%s' % (featcat_id)}?</h3>
                </div>
                <div class="modal-body">
                    <p>Feature category ${'%s' % (featcat_id)} will be deleted. Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button id="${'%s' % (featcat_id)}" class="btn btn-danger delete-features">Delete</button>
                </div>
            </div>
        </td>
    </tr>
% endfor

</tbody>
</table>

% endif

###############################################################################
## Tables with running/waiting/error jobs
###############################################################################

% for status in ['running', 'waiting', 'error']:

% if (len(feat_status[status]) > 0):
<h3>${status.title()} jobs</h3>

<table id="running" class="tablesorter">
<thead>
    <tr>
        <th>featext command line option</th>
        <th>initiation time</th>
    </tr>
</thead>
<tbody>
% for (featcat, init_time) in feat_status[status]:
    <tr>
        <td>--protein_features ${featcat}</td>
        <td>${init_time}</td>
    </tr>
% endfor
</tbody>
</table>
% endif

% endfor

</%block>
