## feature_ttest.html
<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/feature_ttest.js' % (root_url)}"></script>
</%block>

<%block name="main_content">

<%include file="features_bar.html" />

<table id="ttest" class="tablesorter ttest">
<thead>
<tr>
  <th>id</th>
  <th>feature category</th>
  <th>parameter settings</th>
  <th>feature</th>
  <th>t-value</th>
  <th>p-value</th>
</tr>
</thead>
<tbody id="ttest_table">

</tbody>
</table>

<div class="btn-group pull-right" role="group" aria-label="...">
    <a href="${root_url}doc/features.html#feature-ids" class="btn btn-default" target="_blank">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Feature ids
    </a>
    <a href="${root_url}doc/tutorial1.html#feature-statistics" target="_blank" class="btn btn-default">
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Feature statistics
    </a>
</div>

</%block>
