## feature_calculate.html
<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/feature_calculate.js' % (root_url)}"></script>
</%block>

<%block name="main_content">

<%include file="features_bar.html" />

% if msg:
    <div class="alert alert-block alert-error fade in"><p>${msg}</p></div>
% endif

<div class="well">
<form id="aac" class="form-inline" enctype="multipart/form-data" method="post">

    <legend>Amino acid composition</legend>

    <label class="select">Number of sections
        <a href="#" class="info-button" data-toggle="popover" data-placement="top" data-content="" title="" data-original-title="">
            <i class="icon-info-sign"></i>
        </a>
    </label>
    <select class="param input-mini">
        <option value="1" selected="selected">1</option>
% for i in xrange(2, 11):
        <option value="${i}">${i}</option>
% endfor
    </select>

    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<div class="well">
<form id="paac" class="form-inline" enctype="multipart/form-data" method="post">

    <legend>Prime-side amino acid count</legend>

    <label class="select">Prime side
        <a href="#" class="info-button" data-toggle="popover" data-placement="top" data-content="" title="" data-original-title="">
            <i class="icon-info-sign"></i>
        </a>
    </label>
    <select class="param input-mini">
        <option value="5" selected="selected">5'</option>
        <option value="3">3'</option>
    </select>

    <label class="select">Length
        <a href="#" class="info-button" data-toggle="popover" data-placement="top" data-content="" title="" data-original-title="">
            <i class="icon-info-sign"></i>
        </a>
    </label>
    <select class="param input-mini">
        <option value="20" selected="selected">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
        <option value="60">60</option>
    </select>
    
    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

</%block>
