## feature_calculate.html
<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/feature_calculate.js' % (root_url)}"></script>
</%block>

<%block name="main_content">

<%include file="features_bar.html" />

% if msg:
    <div class="alert alert-block alert-error fade in"><p>${msg}</p></div>
% endif

<h2>Amino acid sequence-based features<h2>

<!-- Amino acid composition -->

<div class="well feat-calc">
<form id="aac" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Amino acid composition
        <a class="pull-right" href="${root_url}doc/features_spice.html#amino-acid-composition" target="_tab">help</a>
    </legend>

    <label class="select first">Number of segments</label>
    <select class="param input-mini">
        <option value="1" selected="selected">1</option>
% for i in xrange(2, 11):
        <option value="${i}">${i}</option>
% endfor
    </select>

    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<!-- Dipeptide composition -->

<div class="well feat-calc">
<form id="dc" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Dipeptide composition
        <a class="pull-right" href="${root_url}doc/features_spice.html#dipeptide-composition" target="_tab">help</a>
    </legend>

    <label class="select first">Number of segments</label>
    <select class="param input-mini">
        <option value="1" selected="selected">1</option>
% for i in xrange(2, 3):
        <option value="${i}">${i}</option>
% endfor
    </select>

    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<!-- Prime-side amino acid counts -->

<div class="well feat-calc">
<form id="psaac" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Prime-side amino acid count
        <a class="pull-right" href="${root_url}doc/features_spice.html#prime-side-amino-acid-count" target="_tab">help</a>
    </legend>

    <label class="select first">Prime side</label>
    <select class="param input-mini">
        <option value="5" selected="selected">5'</option>
        <option value="3">3'</option>
    </select>

    <label class="select">Length</label>
    <select class="param input-mini">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40" selected="selected">40</option>
        <option value="50">50</option>
        <option value="60">60</option>
    </select>
    
    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<!-- Sequence length -->

<div class="well feat-calc">
<form id="len" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Sequence length
        <a class="pull-right" href="${root_url}doc/features_spice.html#sequence-length" target="_tab">help</a>
    </legend>

    <label class="select first">The length of the amino acid sequence</label>
    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<h3>Clustered amino acid sequence-based features</h3>

<!-- Property CTD -->

<div class="well feat-calc">
<form id="ctd" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Property Composition / Transition / Distribution
        <a class="pull-right" href="${root_url}doc/features_spice.html#property-composition-transition-distribution-ctd" target="_tab">help</a>
    </legend>

    <label class="select first">Property</label>
    <select class="param input-medium">
        <option value="hyd" selected="selected">hydrophobicity</option>
        <option value="vdw">normalized VDW</option>
        <option value="plr">polarity</option>
        <option value="plz">polarizability</option>
        <option value="chr">charge</option>
        <option value="ss">secondary structure</option>
        <option value="sa">solvent accessibilty</option>
    </select>

    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<h3>Amino acid sequence profile-based features</h3>

<!-- Autocorrelation -->

<div class="well feat-calc">
<form id="ac" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Autocorrelation
        <a class="pull-right" href="${root_url}doc/features_spice.html#autocorrelation" target="_tab">help</a>
    </legend>

    <label class="select first">Type</label>
    <select class="param input-medium">
        <option value="mb" selected="selected">Moreau-Broto</option>
        <option value="moran">Moran</option>
        <option value="geary">Geary</option>
    </select>

    <label class="select">AA Scale</label>
    <select class="param input-medium">
        <optgroup label="AAIndex combined">
            <option value="gg" selected="selected">Georgiev (19 scales)</option>
        </optgroup>
        <optgroup label="AAIndex scales">
% for index, aai in enumerate(aaindex_scale_ids):
            <option value="${index}">${'%03d' % (index)}: ${aai}</option>
% endfor
        </optgroup>
    </select>

    <label class="select">Lag</label>
    <select class="param input-mini">
% for i in xrange(1, 20):
        <option value="${i}">${i}</option>
% endfor
        <option value="20" selected="selected">20</option>
% for i in xrange(21, 31):
        <option value="${i}">${i}</option>
% endfor
    </select>
    
    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<!-- Signal average -->

<div class="well feat-calc">
<form id="sigavg" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Signal average 
        <a class="pull-right" href="${root_url}doc/features_spice.html#signal-average" target="_tab">help</a>
    </legend>

    <label class="select first">AA Scale</label>
    <select class="param input-medium">
        <optgroup label="AAIndex combined">
            <option value="gg" selected="selected">Georgiev (19 scales)</option>
        </optgroup>
        <optgroup label="AAIndex scales">
% for index, aai in enumerate(aaindex_scale_ids):
            <option value="${index}">${'%03d' % (index)}: ${aai}</option>
% endfor
        </optgroup>
    </select>

    <label class="select">Window</label>
    <select class="param input-mini">
        <option value="7">7</option>
        <option value="9">9</option>
        <option value="11">11</option>
        <option value="13">13</option>
        <option value="15">15</option>
        <option value="17">17</option>
        <option value="19">19</option>
        <option value="21" selected="selected">21</option>
        <option value="23">23</option>
        <option value="25">25</option>
    </select>
    
    <label class="select">Edge</label>
    <select class="param input-mini">
        <option value="0">0</option>
        <option value="50">50</option>
        <option value="100" selected="selected">100</option>
    </select>

    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<!-- Signal peaks area -->

<div class="well feat-calc">
<form id="sigpeak" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Signal peaks area
        <a class="pull-right" href="${root_url}doc/features_spice.html#signal-peaks-area" target="_tab">help</a>
    </legend>

    <label class="select first">AA Scale</label>
    <select class="param input-medium">
        <optgroup label="AAIndex combined">
            <option value="gg" selected="selected">Georgiev (19 scales)</option>
        </optgroup>
        <optgroup label="AAIndex scales">
% for index, aai in enumerate(aaindex_scale_ids):
            <option value="${index}">${'%03d' % (index)}: ${aai}</option>
% endfor
        </optgroup>
    </select>

    <label class="select">Window</label>
    <select class="param input-mini">
        <option value="7">7</option>
        <option value="9">9</option>
        <option value="11">11</option>
        <option value="13">13</option>
        <option value="15">15</option>
        <option value="17">17</option>
        <option value="19">19</option>
        <option value="21" selected="selected">21</option>
        <option value="23">23</option>
        <option value="25">25</option>
    </select>
    
    <label class="select">Edge</label>
    <select class="param input-mini">
        <option value="0">0</option>
        <option value="50">50</option>
        <option value="100" selected="selected">100</option>
    </select>

    <label class="select">Threshold</label>
    <select class="param input-mini">
        <option value="0">0</option>
        <option value="5">0.5</option>
        <option value="10" selected="selected">1.0</option>
        <option value="15">1.5</option>
        <option value="20">2.0</option>
    </select>

    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<!-- Type 1 pseudo amino acid composition -->
<div class="well feat-calc">
<form id="paac1" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Pseudo amino acid composition (type 1)
        <a class="pull-right" href="${root_url}doc/features_spice.html#pseudo-amino-acid-composition-type-1" target="_tab">help</a>
    </legend>

    <label class="select first">AA Scales </label>
    <select class="param input-medium" multiple="multiple">
        <option value="p0" selected="selected">${pseaac_scale_ids[0]}</option>
% for i, scale_id in enumerate(pseaac_scale_ids[1:]):
        <option value="${'p%i' % (i + 1)}">${scale_id}</option>
% endfor
    </select>

    <label class="select">Lambda </label>
    <select class="param input-mini">
% for i in xrange(1, 30):
        <option value="${i}">${i}</option>
% endfor
        <option value="30" selected="selected">30</option>
% for i in xrange(31, 51):
        <option value="${i}">${i}</option>
% endfor
    </select>
    <label>Weight: 0.05</label>

    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<!-- Type 2 pseudo amino acid composition -->
<div class="well feat-calc">
<form id="paac2" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Pseudo amino acid composition (type 2)
        <a class="pull-right" href="${root_url}doc/features_spice.html#pseudo-amino-acid-composition-type-2" target="_tab">help</a>
    </legend>

    <label class="select first">AA Scales </label>
    <select class="param input-medium" multiple="multiple">
        <option value="p0" selected="selected">${pseaac_scale_ids[0]}</option>
% for i, scale_id in enumerate(pseaac_scale_ids[1:]):
        <option value="${'p%i' % (i + 1)}">${scale_id}</option>
% endfor
    </select>

    <label class="select">Lambda </label>
    <select class="param input-mini">
% for i in xrange(1, 30):
        <option value="${i}">${i}</option>
% endfor
        <option value="30" selected="selected">30</option>
% for i in xrange(31, 51):
        <option value="${i}">${i}</option>
% endfor
    </select>
    <label>Weight: 0.05</label>
    
    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>


<h3>Amino acid distance-based features</h3>

<!-- Quasi sequence order descriptors -->

<div class="well feat-calc">
<form id="qso" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Quasi-sequence-order descriptors
        <a class="pull-right" href="${root_url}doc/features_spice.html#quasi-sequence-order-descriptors" target="_tab">help</a>
    </legend>

    <label class="select first">AA distance matrix</label>
    <select class="param input-medium">
        <option value="sw" selected="selected">Schneider-Wrede</option>
        <!--option value="aam11">Grantham</option--> <!-- NOT NORMALIZED LIKE IN PROFEAT -->
    </select>

    <label class="select">Lambda </label>
    <select class="param input-mini">
% for i in xrange(1, 30):
        <option value="${i}">${i}</option>
% endfor
        <option value="30" selected="selected">30</option>
% for i in xrange(31, 51):
        <option value="${i}">${i}</option>
% endfor
    </select>

    <label>Weight: 0.1</label>

    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<h2>Secondary structure sequence-based features</h2>

<!-- Secondary structure composition -->

<div class="well feat-calc">
<form id="ssc" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Secondary structure composition
        <a class="pull-right" href="${root_url}doc/features_spice.html#secondary-structure-composition" target="_tab">help</a>
    </legend>

    <label class="select first">Number of segments</label>
    <select class="param input-mini">
        <option value="1" selected="selected">1</option>
% for i in xrange(2, 11):
        <option value="${i}">${i}</option>
% endfor
    </select>

    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<!-- Per secondary structure amino acid composition -->

<div class="well feat-calc">
<form id="ssaac" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Per secondary structure amino acid composition
        <a class="pull-right" href="${root_url}doc/features_spice.html#per-secondary-structure-amino-acid-composition" target="_tab">help</a>
    </legend>

    <label class="select first">Amino acid composition of the helix, strand, and random coil regions</label>
    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<h2>Solvent accessibility sequence-based features</h2>

<!-- Solvent accessibility composition -->

<div class="well feat-calc">
<form id="sac" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Solvent accessibility composition
        <a class="pull-right" href="${root_url}doc/features_spice.html#solvent-accessibility-composition" target="_tab">help</a>
    </legend>

    <label class="select first">Number of segments</label>
    <select class="param input-mini">
        <option value="1" selected="selected">1</option>
% for i in xrange(2, 11):
        <option value="${i}">${i}</option>
% endfor
    </select>

    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<!-- Per solvent accessibility class amino acid composition -->

<div class="well feat-calc">
<form id="saaac" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Per solvent accessibility class amino acid composition
        <a class="pull-right" href="${root_url}doc/features_spice.html#per-solvent-accessibility-class-amino-acid-composition" target="_tab">help</a>
    </legend>

    <label class="select first">Amino acid composition of the buried and exposed regions</label>
    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<h2>ORF codon sequence-based features</h2>

<!-- Codon composition -->

<div class="well feat-calc">
<form id="cc" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Codon composition
        <a class="pull-right" href="${root_url}doc/features_spice.html#codon-composition" target="_tab">help</a>
    </legend>

    <label class="select first">The ORF codon composition</label>

    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>

<!-- Codon usage -->

<div class="well feat-calc">
<form id="cu" class="form-inline feat-calc" enctype="multipart/form-data" method="post">

    <legend>
        Codon usage
        <a class="pull-right" href="${root_url}doc/features_spice.html#codon-usage" target="_tab">help</a>
    </legend>

    <label class="select first">Relative usage of the codons per amino acid</label>

    <button class="btn btn-warning pull-right" type="submit" data-loading-text="Loading...">Calculate</button>

</form>
</div>


</%block>
