## feature_scatter.html
<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/jquery.json-2.3.min.js' % (root_url)}"></script>
  <script type="application/javascript" src="${'%sjs/feature_scatter.js' % (root_url)}"></script>
</%block>

<%block name="main_content">

<%include file="features_bar.html" />

<h2>Scatter plot</h2>

<div id="scatter">
  <img \>
</div>

<a href="${root_url}doc/tutorial1.html#scatter-plots" class="btn pull-right" target="_blank"><i class="icon-info-sign"></i> Scatter plot</a>

</%block>
