## feature_upload.html
<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/feature_upload.js' % (root_url)}"></script>
</%block>

<%block name="main_content">

<%include file="features_bar.html" />

###############################################################################
## Upload custom feature form
###############################################################################

<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title">Upload your own feature matrix</h3>
    </div>

    <div class="panel-body">

        <form id="upload-custom-features" class="form" enctype="multipart/form-data" method="post">

            <div class="form-group">
                <label for="feature_matrix_f">Feature matrix file</label>
                <input type="file" name="feature_matrix_f" id="feature_matrix_f">
            </div>

            <div class="form-group">
                <label for="object_ids_f">Protein ids file</label>
                <input type="file" name="object_ids_f" id="object_ids_f">
            </div>
            
        % if msg:
            <div class="alert alert-danger"><p>${msg}</p></div>
        % endif

            <div class="btn-group" role="group">
                <button class="btn btn-warning" type="submit" data-loading-text="Loading...">Upload</button>
                <a href="${root_url}doc/file_formats.html#feature-matrix-file" target="_blank" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </a>
            </div>

        </form>
    </div>
</div>

</%block>
