## home.html

<%inherit file="base.html"/>

<%block name="main_content">

<div id="home_wrapper">
    
<h1>Welcome to the SPiCE website</h1>

<div id="introduction" class="news_item">
<p class="story">

SPiCE provides easy access to visualization and classification methods for
a set protein sequences. It can be used to calculate sequence-based protein
features, visualize feature data, and construct protein classifiers.

</p>

<a href="${root_url + 'about'}">Read more ></a>
</div>

<img id="home_img" src="img/plaatje2.png" alt="" />

<div class="news_item">
<h3>Browser support</h3>
 <div class="date">22 May 2013</div>
<p class="story">

The website performance best in <a
href="https://www.google.com/intl/en/chrome/browser/" target="_tab">Google
Chrome</a>. Both <a href="http://www.mozilla.org/en-US/firefox/new/"
target="_tab">Firefox</a> and <a href="http://www.opera.com/"
target="_tab">Opera</a> have good support, however, in both browsers there
seems to be an isseu with showing the t-statistics table. Please avoid using
Internet Explorer (espessially the older versions), not all functionalities
work in this browser. Please contact <a href="contact">me</a> in case of any
other issues.

</p>
</div>

<hr class="spacer">

<h2>News</h2>

 % for (date, title, text, _) in news_items:
 <div class="news_item">
 <h3>${title}</h3>
 <div class="date">${date.strftime('%d %B %Y')}</div>
 <p class="story">${text}</p>
 </div>
 % endfor

<a href="${root_url + 'news'}">More news ></a>

</div>

<%include file="sidebar.html" />

</%block>
