## home.html

<%inherit file="base.html"/>

<%block name="main_content">

<div id="home_wrapper">
    
<h1>Welcome to the SPiCe website</h1>

<div id="introduction" class="news_item">
<p class="story">

SPiCa is a web application that can be used to explore global properties of
a set of protein sequences. After uploading a fasta file with protein
sequences, the application can be used to calculate a range of sequence-based
features. The web application can also be used to train and test sequence-based
classifiers if protein labels are provided.

</p>

<a href="${root_url + 'about'}">Read more ></a>
</div>

<hr class="spacer">

<h2>News</h2>

 % for (date, title, text, _) in news_items:
 <div class="news_item">
 <h3>${title}</h3>
 <div class="date">${date.strftime('%d %B %Y')}</div>
 <p class="story">${text}</p>
 </div>
 % endfor

<a href="${root_url + 'news'}">More news ></a>

</div>

<%include file="sidebar.html" />

</%block>
