<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/project_list.js' % (root_url)}"></script>
</%block>

<%block name="main_content">

<%include file="projects_bar.html" />

<%
uri_root = '%s%s' % (root_url, main_menu[main_menu_index][1])
def uri_details(pid):
    return '%s%s/%s' % (uri_root, sub_menu[2], pid)
%>

<h2>Projects</h2>
<a class="pull-right" href="${root_url}doc/tutorial1.html#projects" target="_blank">help</a>

% if len(projects) > 0:
## List projects
<table id="project" class="tablesorter">
<thead>
<tr>
  <th>project id</th>
  <th>initiated</th>
  <th></th>
</tr>
</thead>
<tbody>
% for row_i in xrange(len(projects)):
<tr id="$row_i}">
<%
(name, init) = projects[row_i]
init_tokens = init.split('_')
# not so nice, use date to format this...
init_str = '%s-%s-%s' % (init_tokens[0][:4], init_tokens[0][4:6],
                         init_tokens[0][6:8])
init_str += ' - %s:%s' % (init_tokens[1][:2], init_tokens[1][2:4])
%>
    <td><a href="${uri_details(name)}">${name}</a></td>
    <td>${init_str}</td>
    <!--td><a href='#' class="delete" id="${name}">delete</a></td-->
    <td><a href="#delete-${name}-modal" class="btn btn-link my-btn-link delete-project" data-toggle="modal" id="${name}">delete</a>
        <!-- Modal -->
        <div id="delete-${name}-modal" class="modal hide fade delete-project" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="myModalLabel">Delete project ${name}?</h3>
          </div>
          <div class="modal-body">
            <p>The project ${name} will be permanently deleted and cannot be recovered. Are you sure?</p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button id="${name}" class="btn btn-danger delete-project">Delete</button>
          </div>
        </div>
    </td>
</tr>
% endfor
</tbody>
</table>
% else:
<p>No projects available.</p>
% endif

<!-- Button to trigger delete modal -->
<!--a href="#myModal" role="button" class="btn btn-link" data-toggle="modal">Launch demo modal</a-->
 

## delete project dialog
<div id="dialog-confirm" class='dialog' title="Delete project?">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>The project will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>

</%block>

