## software.html
<%inherit file="base.html"/>

<%block name="main_content">

<div id="home_wrapper">

<h1>Software</h1>

<h2>spice</h2>

<p class="story">

Python package spice provides two command-line tools to perform protein feature
extraction (featext.py) and classification tasks (classification.py), which run
at the back-end of this website. Source code is available on:

</p>

<p class="story">
<a href="http://www.github.com/basvandenberg/spice" target="_blank">www.github.com/basvandenberg/spice</a>
</p>

<p class="story">

Please consult the package documentation for more information about
installation and use of the software.

</p>

<h2>spiceweb</h2>

<p>

The spiceweb software contains the source code of this website and is
accessible on:

</p>

<p>
<a href="http://www.github.com/basvandenberg/spiceweb" target="_blank">www.github.com/basvandenberg/spiceweb</a>
</p>

</div>

<%include file="sidebar.html" />

</%block>
