## software.html
<%inherit file="base.html"/>

<%block name="main_content">

<div id="home_wrapper">

<h1>Software</h1>

<h2>spice</h2>

<p class="story">

Python package <strong>spice</strong> provides three command-line tools that
run at the back-end of this website to perform: protein feature extraction
(featext.py), classifier construction and testing (classification.py), and
running a trained classifier on another data set (classify.py). Source code is
available on:

</p>

<p class="story">
<a href="http://www.github.com/basvandenberg/spice" target="_blank">www.github.com/basvandenberg/spice</a>
</p>

<p class="story">

Please consult the package documentation for more information about software
installation and usage.

</p>

<h2>spiceweb</h2>

<p>

The <strong>spiceweb</strong> software is used to run this website, the source
code is accessible on:

</p>

<p>
<a href="http://www.github.com/basvandenberg/spiceweb" target="_blank">www.github.com/basvandenberg/spiceweb</a>
</p>

</div>

<%include file="sidebar.html" />

</%block>
