## about.html
<%inherit file="base.html"/>

<%block name="main_content">

<div id="home_wrapper">

<h1>About</h1>

<p class="story">

SPiCa is a web application that can be used to explore global properties of
a set of protein sequences. After uploading a fasta file with protein
sequences, the application can be used to calculate a range of sequence-based
features. The web application can also be used to train and test sequence-based
classifiers if protein labels are provided.

</p>

</div>

<%include file="sidebar.html" />

</%block>
