## classifier_new.html
<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/scripts_classifier_new.js' % (root_url)}"></script>
</%block>

<%block name="main_content">

<%include file="classification_bar.html" />

<div class="form_wrapper">
<div id="stylized" class="myform">
<form id="classification" method="post" enctype="multipart/form-data">

    <h1>New classifier</h1>
    <p>Use this form to start a new classification performance test</p>

    <label>Cross validation
    <span class="small">Number of cross-validation loops</span>
    </label>
    <input id="n_fold_cv" name="n_fold_cv" value="10"/>

    <label>Classifier
    <span class="small">Type of classifier to use</span>
    </label>
    <select id="cl_type" name=cl_type />
        <optgroup label="Support Vector Classifiers">
            <option value="linearsvc">LinearSVC</option>
            <option value="svc_linear">SVC linear kernel</option>
            <option value="svc_rbf">SVC RBF kernel</option>
        </optgroup>
        <optgroup label="Nearest Neighbor Classifiers">
            <option value="knn-uniform">k-Nearest neighbor classifier (uniform weights)</option>
            <option value="knn-weight">k-Nearest neighbor classifier (distance-based weights)</option>
            <option value="nc">Nearest centroid classifier</option>
        </optgroup>
        <optgroup label="Naive Bayes">
            <option value="gnb">Gaussian naive bayes</option>
            <option value="mnb">Multinomial naive bayes</option>
            <option value="bnb">Bernoulli naive bayes</option>
        </optgroup>
        <optgroup label="Linear Discriminant Analysis">
            <option value="lda">LDA classifier</option>
            <option value="qda">QDA classifier</option>
        </optgroup>
        <optgroup label="Tree classifiers">
            <option value="dtree">Decision Tree</option>
            <option value="rforest">Random Forest</option>
        </optgroup>
    </select>

    <button type="submit" class="red">Run</button>
    <div class="spacer"></div>

</form>
</div>
</div>

</%block>
