## classifier_list.html
<%inherit file="base.html"/>


## add automatic page refresh timer when showing list of jobs 
<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/jquery.tablesorter.min.js' % (root_url)}"></script>
  <script type="application/javascript" src="${'%sjs/scripts_classifier_list.js' % (root_url)}"></script>
</%block>

<%block name="main_content">

<%include file="classification_bar.html" />

<h2>Results</h2>

<div id="score_select"></div>
<div id="classifier_results"></div>

<h2>Job status</h2>

<div id="job_status"></div>
<div class="legend">
  <div class="status notdone"></div><div class="text">not available</div>
  <div class="status waiting"></div><div class="text">waiting</div>
  <div class="status running"></div><div class="text">running</div>
  <div class="status error"></div><div class="text">error</div>
  <div class="status done"></div><div class="text">ready</div>
</div>


</%block>
