## classifier_new.html
<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/scripts_classifier_new.js' % (root_url)}"></script>
</%block>

<%block name="main_content">

<%include file="classification_bar.html" />

  <div class="form_wrapper">

    <form id="classification" action="/classification/${project_id}/classifier_new" method="post" 
          enctype="multipart/form-data">

      <div class="form_item">
        <label for="nfold">Cross-validation n:</label>
        <input id="nfold" name="value" value="10" />
      </div>

      <div class="form_item">
        <label for="featsel">Feature selection:</label>
        <select id="featsel" name="featsel">
          <option value="none" selected="selected">No feature selection</option>
          <option value="ffs">Forward feature selection</option>
        </select>
      </div>
      
      <div class="form_item">
        <label for="classifier">Classifier:</label>
        <select id="classifier" name="cl_type">
          <optgroup label="Support Vector Classifiers">
            <option value="linearsvc">LinearSVC</option>
            <option value="svc_linear">SVC linear kernel</option>
            <option value="svc_rbf">SVC RBF kernel</option>
          </optgroup>
          <optgroup label="Nearest Neighbor Classifiers">
            <option value="knn">k-Nearest neighbor classifier</option>
            <!--option value="nr">Nearest radius classifier</option-->
            <option value="nc">Nearest centroid classifier</option>
          </optgroup>
          <!--option value="nb">Naive Bayes</option-->
          <!--optgroup label="Linear Discriminant Analysis"-->
            <!--option value="lda">LDA classifier</option-->
            <!--option value="qda">QDA classifier</option-->
          <!--/optgroup-->
          
          <!--option value="dt">Decision Tree</option-->
          <!--option value="lr">Logistic Regression</option-->
        </select>
      </div>

      <div class="form_item classifier_specific" id="knn" style="display:none;">
        <label for="knn_weights">Weight function:</label>
        <select id="knn_weights" name="knn_weights">
            <option value="uniform" selected="selected">uniform</option>
            <option value="distance">distance</option>
        </select>
      </div>

      <div class="form_item classifier_specific" id="nr" style="display:none;">
        <label for="nr_weights">Weight function:</label>
        <select id="nr_weights" name="nr_weights">
            <option value="uniform" selected="selected">uniform</option>
            <option value="distance">distance</option>
        </select>
      </div>

      <hr class="submit" \>
      <input type="submit" id="run" value="run classifier" class="bttn red" />

    </form>

  </div>

</%block>
