## feature_list.html
<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/scripts_feature_list.js' % (root_url)}"></script>
</%block>

<%block name="main_content">

<%include file="features_bar.html" />

###############################################################################
## List with available feature categories
###############################################################################

<h3>Predefined features</h3>

<table id="sortTable" class="tablesorter">
<thead>
<tr>
  <th id="status"></th>
  <th>categorie</th>
  <th>required data sources</th>
  <th>action</th>
</tr>
</thead>
<tbody>

% for featvec_id in fe.get_protein_feature_vector_ids():

<%
featvec = fe.fv_dict_protein[featvec_id]
available, missing = featvec.data_availability()
print
print 'available, missing'
print available
print missing
print
%>

<tr>
% if featvec.uid in feat_status.keys():
  <td id="status" class="${feat_status[featvec.uid]}"></td>
% else:
  <td id="status" class="notdone"></td>
% endif
  <td>${featvec.name.capitalize()}</td>
  <td>
<%
divs = []
for item in available:
    divs.append('<div class="text">%s</div>' % (item))
for item in missing:
    divs.append('<div class="disabled text">%s</div>' % (item))
result = '<div class="text">, </div>'.join(divs)
print result
%>
    ${result}
  </td>
% if len(missing) > 0:
  <td class="disabled">calculate</td>
% elif featvec.uid in feat_status.keys():
  <td></td>
% else:
  <td><a class="calc" href="#" id="${featvec.uid}">calculate</a></td>
% endif
</tr>

% endfor

</tbody>
</table>

<div class="legend">
  <div class="status notdone"></div><div class="text">not available</div>
  <div class="status waiting"></div><div class="text">waiting</div>
  <div class="status running"></div><div class="text">running</div>
  <div class="status error"></div><div class="text">error</div>
  <div class="status done"></div><div class="text">ready</div>
</div>

###############################################################################
## List with uploaded custom feature vectors, if available
###############################################################################

% if fe.fm_protein.get_custom_features():

<hr class="spacer" />

<h3>Custom features</h3>

<table id="sortTable" class="tablesorter">
<thead>
<tr>
  <th id="status"></th>
  <th>Custom feature vector</th>
  <th>Number of features</th>
</tr>
</thead>
<tbody>

% for featvec_id, feat_ids in fe.fm_protein.get_custom_features().items():

<tr>
  <td id="status" class="done"></td>
  <td>${featvec_id}</td>
  <td>${len(feat_ids)}
</tr>

% endfor

</tbody>
</table>

% endif

###############################################################################
## Upload custom feature form
###############################################################################

<hr class="spacer" />

<h3>Upload custom features</h3>

<div class="form_wrapper">
<div id="stylized" class="myform">
<form id="upload_new" method="post" action="${root_url}app/features/list" enctype="multipart/form-data">

    <h1>Custom features form</h1>
    <p>Use this form to upload a feature matrix with your own calculated features</p>

    <label>Object ids
    <span class="small">Upload a file with object ids</span>
    </label>
    <input type="file" name="object_ids_f" id="object_ids_f" />

    <label>Feature matrix
    <span class="small">Upload feature matrix file</span>
    </label>
    <input type="file" name="feature_matrix_f" id="feature_matrix_f" />

    <button type="submit" class="red">Upload</button>
    <div class="spacer"></div>

</form>
</div>
</div>

</%block>
