## feature_list.html
<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/scripts_feature_list.js' % (root_url)}"></script>
</%block>

<%block name="main_content">

<%include file="features_bar.html" />

###############################################################################
## List with available feature categories
###############################################################################

<h2>Sequence-based features</h2>

<table id="feature" class="tablesorter">
<thead>
<tr>
  <th id="status"></th>
  <th>categorie</th>
  <th>required data sources</th>
  <th>action</th>
</tr>
</thead>
<tbody>

% for featvec_id in fe.get_protein_feature_vector_ids():

<%
featvec = fe.fv_dict_protein[featvec_id]
available, missing = featvec.data_availability()
%>

<tr>
% if featvec.uid in feat_status.keys():
  <td id="status" class="${feat_status[featvec.uid]}"></td>
% else:
  <td id="status" class="notdone"></td>
% endif
  <td>${featvec.name.capitalize()}</td>
  <td>
<%
divs = []
for item in available:
    divs.append('<div class="text">%s</div>' % (item))
for item in missing:
    divs.append('<div class="disabled text">%s</div>' % (item))
result = '<div class="text">, </div>'.join(divs)
%>
    ${result}
  </td>
% if len(missing) > 0:
  <td class="disabled">calculate</td>
% elif featvec.uid in feat_status.keys():
  <td></td>
% else:
  <td><a class="calc" href="#" id="${featvec.uid}">calculate</a></td>
% endif
</tr>

% endfor

</tbody>
</table>

<div class="legend">
  <div class="status notdone"></div><div class="text">not available</div>
  <div class="status waiting"></div><div class="text">waiting</div>
  <div class="status running"></div><div class="text">running</div>
  <div class="status error"></div><div class="text">error</div>
  <div class="status done"></div><div class="text">ready</div>
</div>

###############################################################################
## List with uploaded custom feature vectors, if available
###############################################################################

% if fe.fm_protein.get_custom_features():

<hr class="spacer" />

<h2>Uploaded features</h2>

<table id="sortTable" class="tablesorter">
<thead>
<tr>
  <th id="status"></th>
  <th>Custom feature vector</th>
  <th>Number of features</th>
</tr>
</thead>
<tbody>

% for featvec_id, feat_ids in fe.fm_protein.get_custom_features().items():

<tr>
  <td id="status" class="done"></td>
  <td>${featvec_id}</td>
  <td>${len(feat_ids)}
</tr>

% endfor

</tbody>
</table>

% endif


</%block>
