## project_new.html
<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/scripts_project_new.js' % (root_url)}"></script>
</%block>

<%block name="main_content">

<%include file="projects_bar.html" />

###############################################################################
## Initialize new project form
###############################################################################

<h1>New project</h1>

<form class="form-horizontal" enctype="multipart/form-data" method="post">

    <div class="control-group">
        <label class="control-label" for="inputFastaFile">FASTA file</label>
        <div class="controls">
            <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="input-append">
                    <div class="uneditable-input span3">
                        <i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span>
                    </div>
                    <span class="btn btn-file">
                        <span class="fileupload-new">Select file</span>
                        <span class="fileupload-exists">Change</span>
                        <input type="file" name="fasta_file" id="fasta_file"/>
                    </span>
                    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                </div>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Sequence type</label>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="sequence_type" id="protein" value="prot_seq" checked>
                Protein amino acid sequences
            </label>
        </div>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="sequence_type" id="orf" value="orf_seq">
                ORF nucleotide sequences
            </label>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Project id</label>
        <div class="controls">
            <input type="text" name="project_id" id="project_id"\>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button class="btn btn-danger" type="submit">Initialize project</button>
        </div>
    </div>

</form>

<div>
<h1>Or load an example project</h1>
<a href="load_example/0">Protein localization</a><br />
<a href="load_example/1">Protein production</a><br />
</div>

</%block>
