## project_new.html
<%inherit file="base.html"/>

<%block name="scripts">
  <script type="application/javascript" src="${'%sjs/scripts_project_new.js' % (root_url)}"></script>
</%block>
<%block name="stylesheets">
  <link rel="stylesheet" type="text/css" href="${'%scss/style_project_new.css' % (root_url)}" />
</%block>

<%block name="main_content">

<%include file="projects_bar.html" />

## Initialize new project form
<div class="form_wrapper">

<div id="stylized" class="myform">
<form id="upload_new" method="post" action="${root_url}/app/projects/new" enctype="multipart/form-data">

    <h1>New project</h1>
    <p>Use this form to initialize a new project</p>

    <label>Fasta file
    <span class="small">Upload protein sequence data</span>
    </label>
    <input type="file" name="fasta_file" id="fasta_file" />

    <label>Sequence type
    <span class="small">Uploading protein or ORF sequences?</span>
    </label>
    <div class="radio_options">
        <input type="radio" id="protein" name="sequence_type" value="prot_seq" checked="checked" />
        <div class="option_label">Protein (amino acid) sequences</div>
        <input type="radio" id="orf" name="sequence_type" value="orf_seq" />
        <div class="option_label">ORF (nucleotide) sequences</div>
    </div>

    <label>Project id
    <span class="small">Minimal 6 characters</span>
    </label>
    <input type="text" name="project_id" id="project_id" />

    <button type="submit" class="red">Initialize project</button>
    <button type="submit" class="grey">Load example</button>
    <div class="spacer"></div>

</form>
</div>

</div>

</%block>
