## sidebar.html

## sidebar
<div id="home_sidebar">

    <h3></h3>

    <a href="http://bioinformatics.tudelft.nl" target="_blank" class="dbl"></a>
    <hr class="hr_sidebar" />
    <a href="http://www.tudelft.nl" target="_blank" class="tudelft"></a>
    <hr class="hr_sidebar" />
    <a href="http://www.nbic.nl" target="_blank" class="nbic"></a>
    <hr class="hr_final" />

    <h3></h3>

    <a href="http://www.python.org" target="_blank" class="python"></a>
    <hr class="hr_sidebar" />
    <a href="http://www.cherrypy.org" target="_blank" class="cherrypy"></a>
    <hr class="hr_sidebar" />
    <a href="http://www.makotemplates.org/" target="_blank" class="mako"></a>
    <hr class="hr_sidebar" />
    <a href="http://scikit-learn.org/" target="_blank" class="sklearn"></a>
    <hr class="hr_final" />

</div>

## github fork me banner
<a href="https://github.com/basvandenberg/spica" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
