## software.html
<%inherit file="base.html"/>

<%block name="main_content">

<div id="home_wrapper">

<h1>Software</h1>

<h2>spica</h2>

<p class="story">
The python package spica provides two command-line tools to perform protein
feature extraction (featext.py) and classification tasks (classification.py).
The website uses these tools at the back-end for feature calculation and
classification. The source code is available on 

<a href="http://www.github.com/basvandenberg/spica" target="_blank">github</a>.

Please consult the package documentation for more information about
installation and use of this software.

</p>

<h2>spicaweb</h2>

<p>
The python package spicaweb contains the code to run this website. Source code
is accessible on 

<a href="http://www.github.com/basvandenberg/spicaweb" target="_blank">github</a>.

</p>

</div>

<%include file="sidebar.html" />

</%block>
